{% extends "base.html" %}
{% load static %}
<!-- {% load bag_tools %} -->

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

        <div class="col-md-12">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                        <h3 class="mb-0 text-center">
                            Members-Only pages <i class="fas fa-angle-down rotate-icon"></i>
                        </h3>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                    {% for item in cart_items %}
                    <div class="card-body">
                        <div class="row">
                            <div class="card col-md-4 mb-2">
                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top" src="../../../resources/201/mainpics/thumbs300/liverpool-albert-dock-293.jpg" alt="">
                                </div>
                                <!-- Card content -->
                                <div class="card-body blue lighten-5">
                                    <!-- Title -->
                                    <h4 class="card-title purple-text">4th page, just to test</h4>
                                    <!-- Text -->
                                    <p class="card-text">Just to test how the display looks on the new members home page. The main picture doesn't have adescription, so the page will fail W3C
                                        validation -
                                        a well as missing out on search engine opportunities.</p>
                                    <!-- Link -->
                                    <a href="../../../websites-for-trf/4378/fourth-test.html" class="btn btn-primary btn-sm float-right"><i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->

    </div>






    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font m-5 text-center">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Edit Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.title }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                                <input class="form-control qty_input"  type="number" name="quantity" list="quantity" data-item_id="{{ item.item_id}}" id="id_qty_{{ item.item_id }}" style="width:174px;">
                                                    <span class="validity"></span>
                                                        <datalist id="quantity">
                                                            <option value="0">
                                                            <option value="1">
                                                            <option value="2">
                                                            <option value="3">
                                                            <option value="4">
                                                            <option value="5">
                                                        </datalist>
                                                <!-- <input type="submit" class="btn btn-danger" id="remove_{{ item.item_id }}" value="Remove">
                                                <a href="{% url 'view_cart' %}" class="btn btn-info">Update</a>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}"> -->
                                                
                                        </form>
                                        <a class="update-link text-info pl-2"><small>Update</small></a>
                                        <small class="mx-4"> | </small>
                                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr> -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- {% include 'products/includes/quantity_input_script.html' %} -->

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
    console.log("HELLO");
</script>
{% endblock %}